.logo-app{
    width: 50px;
    border-radius: 50px;


}

.line{
    width: 100%;
    height: 2px;
    background-color: #646cffaa;
   
}

.navbar{
    border-top: solid 1px #a3a2a2; 
    
}

.custom-offcanvas .offcanvas-header,
.custom-offcanvas .offcanvas-body {
  border: none;
  box-shadow: none; /* Elimina sombras si las hay */
}