.products-ul {
   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 5px;
    margin-bottom: 1rem;
}

.products-ul li {
    
  
    background-color: rgba(98, 97, 97, 0.144);
    padding: 1em;
    height: 150px;
    list-style: none;
    text-align: center;
    position: relative;
    border-radius: 10px;
    



}

.products-ul li::before {
  content: '';
  position: absolute;
  background-color: none;
   width: 100%;
   height: 1px;
   left: 0;
   bottom: 0;
  transition: all .3s ease-in-out;
}

.products-ul li:hover::before {
    background-color: black;
}

.text-center {
    
    font-weight: 200;
}

.products-ul > li h1{
    font-size: 1.2em;
    font-weight: 600;
    margin: 0;
}